<!doctype html>
<html class="h-100" lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../resources/favicon.png" type="image/x-icon">
    <title>Marina Barbosa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/stars.css">
    <link rel="stylesheet" href="../css/borda.css">
</head>

<body class="d-flex flex-column h-100">

    <div class="stars-container"></div>

    <nav class="navbar navbar-expand-lg" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
                aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav">
                    <li class="nav-item mx-3">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre mim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- todos cards -->
    <div class="container w-75 py-4">
        <!-- linha 1 -->
        <div class="row px-4">
            <!-- card avatar -->
            <div class="col-12 col-md-8">
                <div class="card border-0 mb-4 group-card">
                    <div class="row g-0 py-3 px-4 h-100 d-flex align-items-end">
                        <div class="">
                            <div class="card-body">
                                <span></span><span></span><span></span><span></span>
                                <h3 class="card-text">Oi, eu sou a <strong>Marina</strong>
                                    <h3 class="card-text">bem-vinde</h3>
                                    <h3 class="card-text">ao meu <strong>portfolio</strong></h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="../resources/icon.png" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <!-- card github -->
            <div class="col-12 col-md-8">
                <a href="https://github.com/marina-barbosa" class="text-decoration-none" target="_blank">
                    <div class="card border-0 mb-4 group-card">
                        <span></span><span></span><span></span><span></span>
                        <div class="card-body text-center">
                            <small>visite meu</small>
                            <h3 class="fw-bolder my-3"><strong>GITHUB</strong></h3>
                            <small>marina-barbosa</small>
                            <p><i class="bi bi-github" style="font-size: 10em;"></i></p>
                        </div>
                    </div>
                </a>
            </div>

        </div>


        <!-- linha 2 -->
        <div class="row px-4">

            <!-- card email -->
            <div class="col-12 col-md-4">
                <a href="mailto:marinabarbosa.exp@gmail.com" class="text-decoration-none" target="_blank">
                    <div class="card border-0 mb-4 group-card">
                        <span></span><span></span><span></span><span></span>
                        <div class="card-body text-center pt-4">
                            <small>quer fazer um orçamento <br>ou bater um papo?</small>
                            <h4 class="my-3">manda um <strong>e-mail</strong></h4>
                            <div><i class="bi bi-envelope-fill" style="font-size: 6em;"></i></div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- card curriculo -->
            <div class="col-12 col-md-4">
                <a href="../resources/cv-marina-barbosa-09-2023.docx" class="text-decoration-none" target="_blank"
                    download>
                    <div class="card border-0 mb-4 group-card">
                        <span></span><span></span><span></span><span></span>
                        <div class="card-body text-center">
                            <div id="seta"><i class="bi bi-arrow-down-circle-fill"></i></div>
                            <h4>Baixe meu</h4>
                            <h4><strong>currículo</strong></h4>
                        </div>
                    </div>
                </a>
            </div>

            <!-- card linkedin -->
            <div class="col-12 col-md-4">
                <a href="https://www.linkedin.com/in/marina-barbosa-exp/" class="text-decoration-none" target="_blank">
                    <div class="card border-0 mb-4 group-card">
                        <span></span><span></span><span></span><span></span>
                        <div class="card-body text-center">
                            <h4 class="pt-3">Acesse meu</h4>
                            <h4><strong>Linkedin</strong></h4>
                            <div class="mt-4"><i class="bi bi-linkedin" style="font-size: 6em;"></i></div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <footer class="footer mt-auto">
        <div class="container">
            <hr class="mx-auto">
            <p class="text-center text-body-secondary text-reset">&copy; 2023 - Desenvolvido por Marina Barbosa</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="../scripts/stars.js"></script>
    <script src="../scripts/borda.js"></script>
</body>

</html>