@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --azul: #031633;
}

#saude {
    font-size: 8em;
}

#card-main {
    height: 38vh !important;
    overflow: hidden !important;
    background-color: var(--azul);
}

#linha-dois div img {
    width: 50%;
}

#linha-dois h5,
#linha-dois p {
    color: var(--azul) !important;
}

#cat {
    width: 400px !important;
    position: relative;
    left: calc(50% - 200px);
    bottom: 50%;
}

@media screen and (max-width: 768px) {
    #saude {
        font-size: 5em;
    }

    #linha-dois div img {
        width: 30%;
    }
}

@media screen and (max-width: 991px) {
    #icons {
        margin: auto;
    }

    #cat {
        width: 400px !important;
        position: relative;
        bottom: 13%;
    }
}

/* @media screen and (1175px) and (841px) {
    .group-card {
        col-6
    }
} */

