@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

:root {
    --rosa: #f7bebc;
    --magenta: #D904A0;
    --pink: #AB04D9;
    --roxo: #5D04D9;
    --preto: #313340;
    --ciano: #05F2AF;
    --ciano2: #04D9B2;
    --azul: #3b8ac2;
    --cinza: #c8c8c8;
    --andromeda: #23262e;
    --andromeda-c: #52596d;

}

* {
    font-family: 'Poppins', 'Arial', sans-serif;    
    color: var(--ciano2) !important;
}
body {
    background-color: var(--andromeda);
    /* background: linear-gradient(130deg, #30343f, var(--andromeda)); */
}

.nav-item a {
    transition: color 0.3s;
    font-size: 1.2em;      
}

.nav-item a:hover {
    color: var(--magenta) !important; 
}

.group-card {
    height: 18rem !important;
    overflow: hidden;
}

.card {
    background-color: var(--andromeda-c);
    z-index: 1;    
}

.bi-github, .bi-arrow-down-circle-fill{
    font-size: 10em;
}

.bi-envelope-fill, .bi-linkedin{
    font-size: 4em;
}

#seta {
    margin-top: -6em !important;
}

hr {
    width: 70%;
}